<div class="app_header">
  <div class="header_title left-nav">
    <div class="header-icon">
      <img class="company-icon" src="https://r3.whistleout.com.au/public/images/articles/2014/04/telstra-logo-single.jpg" />
    </div>
      WholeSale Access Interface            
  </div>
  <div class="right-nav">
   <div class="user-title divider">Welcome Frank</div> 
   <div class="user-title divider"><button  (click)="confirmLogout(e)">Logout</button></div>    
   <div>
     <img class="company-logo" src="http://www.donriver.com/images/logo.jpg" /></div>    
   
  </div>
</div>
<p-growl [value]="msgs"></p-growl>
<p-confirmDialog></p-confirmDialog>

